<div class="homepage">
  <img src="{{ 'ProSportsLogo.svg' | asset_img_url: 'large' }}" class="logo"  height="50" width="150" />
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>